<<<<<<< HEAD
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}
=======
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> e202bc14f540a16ab1f3e0d991897d32b5f2c2e9
