<mat-toolbar >
  <span class="title">LOGIN</span>
</mat-toolbar>
	<div class = "container">
		<mat-card class="my-card">
		 <span class= "contenu">
		   <mat-card-content>

			  <form class="my-form">
				 <mat-form-field class="full-width">
					<mat-label>Username</mat-label>
					<input  matInput [(ngModel)]="user.username" placeholder="username" name="username" required>
				 </mat-form-field>
				 <mat-form-field class="full-width">
					<mat-label>Password</mat-label>
					<input  matInput [(ngModel)]="user.password" placeholder="Password" name="password" type="password" required>
         </mat-form-field>
          <mat-card-actions>
            <button style="margin-left: 43%" mat-raised-button (click)="login()" color="primary">LOGIN</button>
          </mat-card-actions>
          <div style="text-align: center" ><span style="color:red;">{{message}}</span></div>
			  </form>
        </mat-card-content>
        </span>
		</mat-card>
</div>
