<div id="co">
  <br>
  <div class="container">
    <div class>
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
        <div class="blocks" *ngIf="auth.isLoggedIn()">
          <button button="submit" mat-raised-button color="primary" (click)="addDiagram()">
            <mat-icon>add</mat-icon> Draw a new diagram
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="container" id="cont">
      <div>
        <mat-card class="card" >
            <mat-card-title style="margin-left: 10px">
                <h3><u>My diagrams</u></h3>
            </mat-card-title>

          <mat-grid-list cols="8" class="large">
            <mat-grid-tile colspan="2" rowspan="2" class="largpe">
                <mat-list>
                    <mat-card style="min-width: 290px; margin:10px; height: 20px;" *ngFor="let diag of diagrams" [class.selected]="currentDiag && diag.id == currentDiag.id">
                        <span style="min-width: 60%;" (click)="loadDiagram(diag.id)">
                          {{ diag.title }}
                        </span>
                        <span style="float: right;margin-top: -10px">
                          <button mat-button [matMenuTriggerFor]="menu"><mat-icon class="mat-8">more_vert</mat-icon></button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editDiagram(diag.id)">edit</button>
                            <button mat-menu-item (click)="deleteDiagram(diag.id)">delete</button>
                          </mat-menu>
                        </span>
                    </mat-card>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile colspan="5" rowspan="2" class="large" style="border: 1px solid black; box-shadow:3px 3px 3px 5px lightgray">
              <div #graphContainer style="width: 100%;height: 100%;" id="graphContainer"></div>
              <div id="contextMenu">
                <ul>
                  <li id="addp" (click)="addProperty(event)"><a href="#" target="_self">Add Property</a></li>
                  <li id="addm" (click)="addMethod(event)"><a href="#" target="_self">Add Method</a></li>
                  <li id="remp" (click)="removeProperty(event)"><a href="#" target="_self">Remove Property</a></li>
                  <li id="remm" (click)="removeMethod(event)"><a href="#" target="_self">Remove Method</a></li>
                </ul>
              </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="2" class="large" style="border: 1px solid black">
              <mat-list style="width: 100%; height: 100%;">
                <h3 mat-subheader>Palette</h3>
                <mat-divider></mat-divider>
                <mat-list-item style="width: 100%; height: 100%;">
                  <div #paletteContainer style="width: 100%;height: 100%;" id="paletteContainer"></div>
                </mat-list-item>
              </mat-list>
            </mat-grid-tile>

          </mat-grid-list>

        </mat-card>
      </div>
    </div>
  </div>
</div>
