<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item
      *ngIf="!auth.isLoggedIn()"
			routelink = "/login">
            <mat-icon class="icon">login</mat-icon>&nbsp;
            <span class="label">Login</span>
        </a>

        <a mat-list-item
         *ngIf="auth.isLoggedIn()"
         routerLink="/">
          <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
       </a>
      <a mat-list-item
         routerLink="/dashboard">
       <!-- <mat-icon class="icon">dashboard</mat-icon> -->
        <span class="label">Dashboard</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <p> UML DIAGRAM </p>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a button mat-raised-button *ngIf="!auth.isLoggedIn()" color="primary" routerLink="/login">
           Login
          </a>
          </li>
		  <li>
            <a button mat-raised-button *ngIf="!auth.isLoggedIn()" color="primary" routerLink="/register">
				Sign Up
            </a>
          </li>
          <li>
            <a
              *ngIf="auth.isLoggedIn()"
              (click)="logout()" type="button"
            >
              <mat-icon class="icon">input</mat-icon>&nbsp;
              <span class="label">LogOut(<span class="small">{{auth.getUser().name}}</span>)</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
